<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :password,
                    label: 'New Password',
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: 'Confirm New Password',
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :photo, as: :file %>
        <%= f.input :username,
                      hint: 'Must be all lowercase, only letters and numbers',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" }%>
        <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "first name" }%>
        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "last name" }%>
        <%= f.input :phone,
                    required: true,
                    input_html: { autocomplete: "phone" }%>
        <%= f.check_box :teacher, as: :boolean, unchecked_value: false, checked_value: true %>
        <%= f.label :teacher, 'Are you signing up as a teacher?' %>

          <%= f.input :bio,
                      hint: ("Feel free to fill these out later"),
                      input_html: { autocomplete: "bio" }%>
          <%= f.input :facebook,
                      input_html: { autocomplete: "facebook url" }%>
          <%= f.input :instagram,
                      input_html: { autocomplete: "instagram url" }%>
          <%= f.input :blog,
                      input_html: { autocomplete: "blog url" }%>
          <%= f.input :website,
                      input_html: { autocomplete: "any other website url" }%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'btn btn-primary' %>
      </div>
      <% end %>

      <div class="header-container">
        <p><small>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></small></p>
      </div>

      <%= link_to "Back", :back , class: 'btn btn-clear' %>
    </div>
  </div>
</div>
