<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2"> -->
      <%= simple_form_for [ @course, @occurence ] do |f| %>
          <%= f.input :date, input_html: {class: "datepicker"} %>
          <%= f.input :price %>
          <%= f.input :capacity %>
          <%= f.input :location,
                hint: 'if this class is ONLY online, leave the location blank',
                label: 'Location',
                required: false,
                input_html: { placeholder:"Where?", class: "address-input", type: "search"} %>
          <%= f.input :online, collection: [true, false], selected: [false] %>
          <%= f.input :repeat, label: "Repeats?", collection: ['never', 'every day', 'every week', 'every month'], selected: ['never'] %>
          <%= f.input :end_date, label: false, input_html: { placeholder:"Repeats until: Add one more day of your last event", class: "datepicker"} %>
          <%= f.submit class: "btn btn-outline-success" %>
      <% end %>
<!--     </div>
  </div>
</div>
 -->
