<div class="photo-card">
                <%= link_to course_path(occurence.course) do %>
                    <%= cl_image_tag occurence.course.photo.key, class: 'home-photo-card'%>
                <% end %>
            </div>

            <div class="cardy-body">
                    <h5><%= occurence.course.name %></h5>
                    <p><small><%= link_to occurence.course.teacher, user_path(occurence.course.user.username) %>
                    <br><strong><%= link_to occurence.dateparse.strftime("%^a, %e %^b %H:%M"), course_occurence_path(occurence.course, occurence) %></strong>
                    <br><%= occurence.online? ? 'ONLINE' : " " %>
                    <br><% if occurence.location? %>
                            <%= link_to occurence.location.first(25), occurence.address, target: "blank" %>
                        <% end %>
                    </small></p>
            </div>
            <div class="links-card">
                <% if user_signed_in? %>
                    <% if current_user == occurence.course.user %>
                                <%= link_to edit_course_occurence_path(occurence.course, occurence) do %><i class="far fa-edit"></i> <% end %>
                    <% elsif occurence.capacity == occurence.users.count %>
                        Full
                    <% elsif current_user.bookings.where(occurence_id: occurence.id).first %>
                        <small><strong>Already Booked</strong></small>
                        <br><%= link_to 'Cancel?', course_occurence_booking_path(occurence.course.id, occurence.id, current_user.bookings.where(occurence_id: occurence.id).first, page: page),
                              remote: true,
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: 'btn btn-clear' %>
                    <% else %>
                            <small><%= link_to 'Book', course_occurence_bookings_path(occurence.course.id, occurence.id, page: page),
                            remote: true,
                            method: :post,
                            class: "btn-primary-small"%>
                            </small>
                    <% end %>
                <% else %>
                    <p><%= link_to "Book", new_user_session_path, class: 'btn btn-primary' %></p>
                <% end %>
</div>
