<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h2><%= @course.name %> </h2>
      <p> Class Details: <%= @course.description %> </p>
      <p> Teacher: <%= @course.teacher%> </p>
      <p> Date: <%= @occurence.date %> </p>
      <p> €<%= @occurence.price %> </p>
      <p> Location: <%= @occurence.location %></p>
      <p> <%= @course.duration%> minutes</p>
    </div>
  </div>
</div>
