<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <p> <%= @occurence.course.name %> </p>
      <p> <%= @occurence.course.detail %> </p>
      <p> <%= @occurence.course.teacher%> </p>
      <p> Date: <%= @occurence.date %>  Time: <%= @occurence.time%> </p>
      <p> €<%= @occurence.price %> </p>
      <p> Location: <%= @occurence.location %></p>
      <p> <%= @occurence.course.duration%></p>
    </div>
  </div>
</div>
