<div class="header-container">
  <h1> Welcome <%= current_user.first_name.split(" ").first.capitalize %>,</h1>
  <p> This is your dashboard</p>
</div>

<div class="main-container">
  <div class="split-cards1 cards">
      <p>Name: <strong> <%= current_user.first_name.split(" ").first.capitalize %>
          <%= current_user.last_name.split(" ").first.capitalize %> </strong></p>
      <p>Phone: <%= current_user.phone %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Bio: <%= current_user.bio%></p>
      <p><%= link_to 'Update Your Account', edit_user_registration_path %></p>

      <% if current_user.teacher? %>
        <p>Title: <strong>Teacher</strong></p>
        <p><%= link_to 'Create a Course', new_course_path, class: "btn btn-primary" %></p>
    </div>

    <div class="cards">
        <p>Your list of courses: <% current_user.courses.each do |course| %> </p>
        <div class="teacher-cards">
          <div class="course-part">
            <p><%= link_to course.name, course_path(course), class: "btn btn-ghost" %></p>
          </div>
          <div class="to-do-part">
            <%= link_to new_course_occurence_path(course.id) do %> <i aria-hidden="true" class="far fa-calendar-plus" title="add event"></i> <% end %>
            || <%= link_to course_occurences_path(course) do %> <i class="far fa-folder-open" title="see old records"></i> <% end %>
            || <%= link_to edit_course_path(course) do %><i class="far fa-edit" title="edit course"></i> <% end %>
            || <%= link_to course_path(course), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="far fa-trash-alt" title="delete course"></i> <% end %>
          </div>
        </div>
        <% end %>
    </div>

    <div class="cards">
        <p>Classes you've registered:  <% current_user.bookings.each do |booking| %> </p>
          <% if Time.parse(booking.occurence.date) > Time.now %>
            <p><strong><%= link_to booking.occurence.dateparse.strftime("%^a, %e %^b %H:%M"), course_occurence_path(booking.course, booking.occurence) %></strong>
                - <%= link_to booking.course.name, course_path(booking.course) %> with <%= link_to booking.course.teacher, user_path(booking.course.user) %>
                || <%= link_to course_occurence_booking_path(booking.course.id, booking.occurence.id, booking), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="far fa-trash-alt"></i> <% end %></p>
          <% end %>
        <% end %>
    </div>

    <!-- Student's DASHBOARD -->

  <% else %>
      <p><%= link_to 'Find a Class', courses_path, class: "btn btn-primary" %></p>
    </div>

    <div class="split-cards2 cards">
        <p>Your list of classes: <% current_user.bookings.each do |booking| %> </p>
          <% if Time.parse(occurence.date) > Time.now %>
            <p><strong><%= booking.occurence.date %></strong> - <%= link_to booking.course.name, course_occurence_path(booking.course, booking.occurence) %> with <%= link_to booking.course.teacher, user_path(booking.course.user) %>
            || <%= link_to course_occurence_booking_path(booking.course.id, booking.occurence.id, booking), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="far fa-trash-alt"></i> <% end %></p>
            </p>
          <% end %>
        <% end %>
  <% end %>
    </div>
</div>




<div class="users-show-container">
    <h2> Your Schedule Coming Up </h2>
    <%= calendar(number_of_days: 3) do |date| %>
      <%= date.day %>
      <% current_user.bookings.each do |booking| %>
        <% if booking.occurence.date.to_datetime.to_date == date %>
          <div class='calendar-card'>
            Attending:
            <br><%= link_to booking.occurence.course.name, course_occurence_path(booking.occurence.course, booking.occurence) %>
            <br><strong><%= booking.occurence.dateparse.strftime("%H:%M") %></strong>
          </div>
        <% end %>
      <% end %>
      <% current_user.courses.each do |course| %>
        <% course.occurences.each do |occurence| %>
            <% if occurence.date.to_datetime.to_date == date %>
              <div class='calendar-card teaching'>
                <strong>Teaching:</strong>
                <br><%= link_to occurence.course.name, course_occurence_path(occurence.course, occurence) %>
                <br><strong><%= occurence.dateparse.strftime("%H:%M") %></strong>
                <br><i class="fas fa-users"></i> <%= occurence.users.count %>/<%= occurence.capacity %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
