<div class="header-container">
    <h2>Search for your classes:</h2>
    <p> </p>
    <p> </p>
    <%= search_form_for @q, url: courses_path do |f| %>
     <div class="form-container">
      <%= f.label :location_or_course_name_or_course_user_first_name_or_course_user_last_name_or_course_user_full_name_or_course_user_username_i_cont_all, "Search by:", class: 'form-btn' %>
      <%= f.search_field :location_or_course_name_or_course_user_first_name_or_course_user_last_name_or_course_user_full_name_or_course_user_username_i_cont_all %>
      <%= f.label :online_eq, 'online?', class: 'form-btn' %>
      <%= f.select :online_eq, [['Yes', true], ['No', false]], include_blank: 'All' %>

     <p class ="form-btn"> Date from: <%= f.search_field :date_gteq, class: 'datepicker2' %></p>
     <p class ="form-btn"> Date to: <%= f.search_field :date_lteq, class: 'datepicker2' %></p>
      <%= link_to "Clear", request.path, class: "btn btn-clear" %> <%= f.submit class: 'btn btn-primary' %>
     </div>
    <% end %>
</div>

        <table class="events-list">
          <tr>
            <th> <%= sort_link(@q, :course_name) do %> Course Name <i class="fas fa-sort"></i> <% end %> </th>
            <th> <%= sort_link(@q, :course_user_last_name) do %> Teacher <i class="fas fa-sort"></i> <% end %></th>
            <th> <%= sort_link(@q, :date) do %> Date <i class="fas fa-sort"></i> <% end %> </th>
            <th class="location-list"> Location </th>
            <th class="location-list"></th>
          </tr>

        <% if @occurences.exists? %>
            <% @occurences.each do |occurence| %>
              <% if Time.parse(occurence.date) > Time.now %>
                <tr>
                  <td><%= link_to occurence.course.name, course_occurence_path(occurence.course, occurence) %></td>
                  <td><%= link_to occurence.course.teacher, user_path(occurence.course.user.username) %></td>
                  <td><%= occurence.dateparse.strftime("%^a, %e %^b %H:%M") %></td>
                  <td class="location-list"><small><%= link_to occurence.location.first(30), occurence.address, target: "blank" %> || <strong><%= occurence.online? ? 'ONLINE' : "" %></strong></small></td>
                  <td class="location-list" style="text-align: center">
                      <% if user_signed_in? %>
                          <% if current_user == occurence.course.user %>
                              <%= link_to edit_course_occurence_path(occurence.course, occurence) do %><i class="far fa-edit"></i> <% end %>
                          <% elsif current_user.bookings.where(occurence_id: occurence.id).first %>
                              <small><strong>Booked</strong></small>
                          <% elsif occurence.capacity == occurence.users.count %>
                              Full
                          <% else %>
                              <small><%= link_to "Book", course_occurence_bookings_path(occurence.course.id, occurence.id), method: :post, class: "btn-primary-small" %></small>
                          <% end %>
                      <% else %>
                          <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
        <% else %>
            <div class="empty-container">
                <p>No Results Found. Try another search.</p>
            </div>
        <% end %>
        </table>

<div class="flickr_pagination">
    <%= will_paginate @occurences, :container => false %>
</div>
