<div class="header-container">
    <%= search_form_for @q, url: courses_path do |f| %>
    <div class="forms-container">
      <div class="form-container">
        <%= f.search_field :course_name_i_cont_all, placeholder: 'Search by Course', label: false, class: 'input-style'%>
        <%= f.search_field :location_i_cont_all, placeholder: 'Location', label: false, class: 'input-style' %>
        <%= f.search_field :course_user_first_name_or_course_user_last_name_or_course_user_full_name_or_course_user_username_i_cont_all, placeholder: 'Teacher', label: false, class: 'input-style' %>
      </div>
      <div class="form-container">
        <%= f.label :online_eq, 'online?'%>
        <span class="online-dd"><%= f.select :online_eq, [['Yes', true], ['No', false]], include_blank: 'All' %></span>

      <%= f.search_field :date_gteq, placeholder: 'From', label: false, class: 'datepicker2 input-style2' %>
      <%= f.search_field :date_lteq, placeholder: 'To', label: false, class: 'datepicker2 input-style2' %>
      </div>
    </div>
      <%= link_to "Clear", request.path, class: "btn btn-clear" %> <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>

        <table class="events-list">
          <tr>
            <th> <%= sort_link(@q, :course_name) do %> Course Name <i class="fas fa-sort"></i> <% end %> </th>
            <th class='location-list'> <%= sort_link(@q, :course_user_last_name) do %> Teacher <i class="fas fa-sort"></i> <% end %></th>
            <th> <%= sort_link(@q, :date) do %> Date <i class="fas fa-sort"></i> <% end %> </th>
            <th class="location-list"> Location </th>
            <th></th>
          </tr>

        <% if @occurences.exists? %>
            <% @occurences.each do |occurence| %>
                <tr>
                  <td><%= link_to occurence.course.name, course_occurence_path(occurence.course, occurence) %></td>
                  <td class='location-list'><%= link_to occurence.course.teacher, user_path(occurence.course.user.username) %></td>
                  <td><%= occurence.dateparse.strftime("%^a, %e %^b %H:%M") %></td>
                  <td class="location-list"><small><%= link_to occurence.location.first(30), occurence.address, target: "blank" %> || <strong><%= occurence.online? ? 'ONLINE' : "" %></strong></small></td>
                  <td id="booking-column" data-indexoccur="<%= occurence.id %>" style="text-align: center;">

                    <%= render partial: 'courses/td_booking', locals: {occurence: occurence, page: 'courses'} %>

                  </td>
                </tr>
            <% end %>
        <% else %>
            <div class="empty-container">
                <p>No Results Found. Try another search.</p>
            </div>
        <% end %>
        </table>

<div class="flickr_pagination">
    <%= will_paginate @occurences, :container => false %>
</div>
