<div class="header-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @course.photo.key %>')">
  <h2> <%= @course.name %> </h2>
    </div>
</div>

<div class="main-container">
    <div class="split-cards1 cards">
        <p> Details:</p>
        <p><em> <%= @course.description %></em> </p>
        <p> <%= @course.duration %> minutes</p>
        <p> Teacher:
              <% if current_user == @course.user %>
                  You
                  <center>
                  <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editOccurences<%= @course.id %>">
                    Add events for <%= @course.name %>
                  </button></p>
                  <button type="button" class="btn btn-ghost" data-toggle="modal" data-target="#editCourse">
                    Edit <%= @course.name %>
                  </button>

                  <br><%= link_to "See Past Events", course_occurences_path(@course), class: "btn btn-ghost" %></p>
              <% else %>
                  <%= link_to @course.teacher, user_path(@course.user.username) %></p>
                </center>
              <% end %>
    </div>
    <!-- Modal -->
    <%= render partial: 'pages/info_update_modal', locals: {course: @course}  %>
    <%= render partial: 'edit_occurences_modal.html', locals: {course: @course }  %>

    <div class="split-cards2 cards">
    <% if user_signed_in? %>
          <% if current_user == @course.user %>
              <%= form_tag destroy_multiple_course_occurences_path(@course), method: :delete do %>

              <h4> Events </h4> <%= submit_tag "Delete selected", class: "btn btn-delete", data: { confirm: "Are you sure?" } %>

                  <div class="event-main">
                      <% @course.occurences.order(date: :asc).each do |occurence| %>
                          <% if Time.parse(occurence.date) > Time.now %>
                            <div id="selectAll" class="event-cards">
                                <%= check_box_tag "occurence_ids[]", occurence.id, false, class: 'selectable' %>
                                  <p><strong><%= occurence.dateparse.strftime("%^a, %e %^b %H:%M") %></strong></p>
                                      <small>
                                          <strong><%= occurence.online? ? 'ONLINE' : " " %></strong>
                                          <br><% if occurence.location? %>
                                                <%= link_to occurence.location.first(25), occurence.address, target: "blank" %>
                                              <% else %>
                                                &nbsp;
                                              <% end %>
                                          <br><i class="fas fa-users"></i> <%= occurence.total_bookings_sum %>/<%= occurence.capacity %>
                                      <div class="links">
                                          <p> <%= link_to "Details", course_occurence_path(occurence.course, occurence), class: "btn btn-ghost" %></p>
                                          <p>
                                              <%= link_to edit_course_occurence_path(occurence.course, occurence) do %><i class="far fa-edit"></i> <% end %> ||
                                              <%= link_to course_occurence_path(@course, occurence),
                                                                                      method: :delete,
                                                                                      data: { confirm: "Are you sure?" } do %>
                                                                                        <i class="far fa-trash-alt"></i>
                                                                                      <% end %>
                                          </p>
                                      </div>
                                    </small>
                            </div>
                          <% end %>
                        <% end %>
                  </div>
              <% end %>

            <!-- if user is not the teacher  -->
          <% else %>
            <h4> Events </h4>

                <div class="event-main">
                      <% @course.occurences.order(date: :asc).each do |occurence| %>
                          <% if Time.parse(occurence.date) > Time.now %>
                              <div id="selectAll" data-eventid='<%= occurence.id %>' class="event-cards">

                                <%= render partial: 'occurences/occurence_show_card', locals: {occurence: occurence, page: 'courses/show'} %>

                              </div>
                          <% end %>
                      <% end %>
                </div>
          <% end %>


    <!-- if user is not signed in -->
    <% else %>
        <h4> Events </h4>
              <div class="event-main">
                  <% @course.occurences.order(date: :asc).each do |occurence| %>
                      <% if Time.parse(occurence.date) > Time.now %>
                              <div class="event-cards">
                                  <p><strong><%= occurence.dateparse.strftime("%^a, %e %^b %H:%M") %></strong></p>
                                      <small>
                                          <strong><%= occurence.online? ? 'ONLINE' : " " %></strong>
                                          <br><%= occurence.location? ? occurence.location.first(25) : " " %>
                                          <br><i class="fas fa-users"></i> <%= occurence.users.count %>/<%= occurence.capacity %>
                                      </small>
                                      <div class="links">
                                        <p><%= link_to "Book", new_user_session_path, class: 'btn btn-primary' %></p>
                                      </div>
                              </div>
                      <% end %>
                  <% end %>
              </div>
    <% end %>
    </div> <!-- end of split-cards2 card div -->
</div> <!-- end of main div -->

