<!DOCTYPE html>
<html>
  <head>
    <title>Proclass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <div class='footer-container'>
        This site is still under construction <i class="fas fa-wrench"></i>
        <br>If any questions, comments, concerns, please feel free to <a href='/'><i class="far fa-envelope"></i> katrinarobles@live.com </a>
    </div>
  </body>
</html>
